<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
    <link rel="stylesheet" href="../../css/Projetos/style_conta.css">
</head>

<body>

    <script src="../../js/Projetos/conta.js"></script>

    <div class="container">
        <div class="menu">
            <div class="apresentacao">
                <h1>Fruteira</h1>
            </div>
            <div>
                <label for="peso">Kg de Morangos: </label>
                <br>
                <input type="text" id="pesoMorango" name="peso">
                <br><br>

                <label for="peso">Kg de Maça: </label>
                <br>
                <input type="text" id="pesoMaca" name="peso">
                <br><br>
                <button onclick="buscaPreco()" id="btnEnvio">Enviar</button>
                <br><br>
                
                <p id="caixaResp"></p>
        
                <br><br>
                
            </div>





            <div<div class="">
                <button onclick="voltarMenu()"> Voltar</button>
            </div>    
        

        </div>
    </div>

</body>

</html>