<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
    <link rel="stylesheet" href="../../css/Projetos/style_imc.css">
</head>

<body>

    <script src="../../js/Projetos/imc.js"></script>

    <div class="container">
        
        <div id="formulario">
            <h1>IMC</h1>
            <label for="peso">Peso</label>
            <br>
            <input type="text" id="peso" name="peso">
            <br><br>
            <label for="altura">Altura</label>
            <br>
            <input type="text" id="altura" name="altura">
            <br><br><br>
            <button onclick="imcCompleto()">Enviar</button>
            <br>
            <p>Exemplo de entada: <br>Peso: 80     Altura: 1.80 </p>
            <br>

            <div id="resultado"></div>

            <br><br><br><br>

            <button onclick="voltarMenu()"> Voltar</button>
        </div>
        </div>
    </div>

</body>

</html>