<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-br">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projeto Academy</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/styled.css}">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	
	<section class="neo-section">
		<div class="texto-main">
			<h1>Sistema de gerenciamento de Alunos</h1>
		</div>
		<div class="butoes">
			<div class="wm">
				<button class="btn btn-outline-primary">CADASTRAR ALUNO</button>
			</div>
			<div class="wm">
				<button class="btn btn-outline-success">ENCONTRAR ALUNO</button>
			</div>
		</div>
		
		<div class="container">

		</div>
		
		<div th:replace="fragmentos/fragmentos :: rodape"></div>
	</section>
	
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>