/* Fontos de Estilo */
@import url('../../assets/css/fontes.css');

.header-informacao {
  padding: 0;
  margin: 0;
  height: 150px;
  background: #9CBCD5;
}

.nav-rotas {
  display: flex;
  justify-content: space-between;

}

.nav-rotas ul li {
  list-style-type: none;
  padding-left: 2rem;
  padding: 16px ;
}


.nav-rotas ul  {
  display: flex;

}

.link {
  font-family:  'Noto Serif Display', serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  text-shadow: -0.1px -0.1px 0  black, -0.1px -0.1px 0 black;

}

.link:hover {
  color: rgba(0, 0, 0, 0.247);
  text-decoration: underline rgba(0, 0, 0, 0.247);
}