<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-br">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projeto Academy</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/styled.css}">
</head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img class="logo" src="img/aluno-icon.png" alt="icon-study">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navMobile" class="navbar-collapse collapse justify-content-end">
				<a class="nav-item nav-link" th:href="@{/}">Home</a>
				<a class="nav-item nav-link" th:href="@{/inserirAlunos}">Cadastrar Aluno</a>
				<a class="nav-item nav-link" href="">Pesquisar Aluno</a>
				<a class="nav-item nav-link btn-danger" href="">Sair</a>
			</div>
		</nav>
	</header>
	
	

	<!-- Footer-->
	<footer th:fragment="rodape">
		<div class="rodape">
			<span>Todos os Direitos Reservados - 2024 &copy; Matheus Marques</span>
		</div>
	</footer>

	
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>