<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <script src="../js/home.js"></script>

    
    <div class="container" center="center">
        <div class="card">
            <h1> Login </h1>
            
            <div class="label-float">
                <input type="text" id="usuario" peceholder=''>
                <label id="userLabel"for="usuario">Usuario</label>
            </div>
            <br>
            <div class="label-float">
                <input type="password" id="senha" peceholder=''>
                <label id="senhaLabel"for="senha">Senha</label>
            </div>
            <br>
            <div>
                <button onclick="entrar()">Entrar</button>
            </div>
            <br>
            <div>
                <hr>
            </div>
            <p>Criar nova conta? 
                <a href="http://localhost:3000/cadastro">Cadastre-se.</a>
            </p>
        </div>
    </div>
    
</body>
</html>