<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Desafios | Projects</title>
    <link rel="stylesheet" href="../css/style_menu.css">
</head>
<body>
    <script src="../js/menu.js"></script>
    <div class="container" center="center">
        
        <div class='menu'>
            <div class="apresentacao">
            <h1>Menu Principal</h1>
            <p>Boas-Vindas</p>

            <div>
                <hr>
            </div>

            <p>Selecione o Projeto.</p>
            </div>
            <div id='menu_project'>
                <strong>
                    <a href="http://localhost:3000/menu/conversor">Conversor de Temperatura.</a>
                    <br><br>
                    <a href="http://localhost:3000/menu/IMC">IMC.</a>
                    <br><br>
                    <a href="http://localhost:3000/menu/compras">Preço da compra.</a>
                </strong>



            </div>
          <br><br>
            <div class="botao_menu"> 
                <button onclick="sair()">Sair</button>
            </div>
        </div>

    </div>

    
</body>
</html>