@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav {
	align-items: center;
	justify-content: space-between;
	height: 150px;
	background-color: black;
	
}
a {
	cursor: pointer;
	color: #FFF;
	font-weight: bold;
	font-size: 1.1em;
	font-family: "Montserrat", sans-serif;
}
.navbar-brand .logo {
    width: 100px;
}
.btn-danger {
	border-radius: 5px !important;
	
}
.neo-section {
	margin-top: 50px;
}

.neo-section .texto-main h1 {
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	font-size: 1.6em;
}

.butoes {
	display: flex;
	justify-content: center;
}
.wm {
	gap: 10px;
	margin: 5px;
}

.wm button {
	border: solid 2px #004eb7 ;
	color: #004eb7;
}

.container {
	height: 600px;
}

.rodape {
	color: #fff;
	background-color: black;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 1.25em;
	position: sticky;
	height: 100px;
}

.navbar-collapse {
    background-color: black; /* Adapta ao fundo */
}

/* RESPONSIVIDADE*/
@media screen and (max-width: 992px) {
	.butoes {
		display: flex;
		flex-direction: column;
	}
	.wm {
		gap: 10px;
		margin: 5px;
		width: 100%;

		align-items: center;
		justify-content: center;
		display: flex;
	}
    nav {
        flex-direction: column; /* Ajusta os itens para empilharem */
        height: auto !important; /* Remove a altura fixa */
    }
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens no menu expandido */
    }
    .navbar-brand .logo {
        margin-bottom: 15px; /* Espaçamento extra para o logo */
    }
}